<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MES PROJETS
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a href="/project"
            class="navbar-item has-text-grey-light">
            Projets en cours
        </a>
        <a href="/project2"
            class="navbar-item has-text-grey-light">
            Projets en entreprise
        </a>
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>
